/*
    Zavodprezidentu.cz overrides.
*/

.box-header {
    height: 60px;
    border: 1px solid #DDD;
    margin-bottom: 15px;
}

.box-header h2 {
    float: none;
}

.circleStatsItem {
    background-repeat: no-repeat;
    background-position: center;
}

.row-fluid [class*="budik"]:first-child {
    margin-left: 8%;
    *margin-left: 8%;
}

.row-fluid [class*="budik"] {
    margin-left: 8%;
}

.no-data {
    opacity: 0.3;
}